!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
    %title WDFAC
    %meta{:content => "Reverse Lane Defense with Rock-Paper-Scissors creeps", :name => "description"}/
    %meta{:content => "WDFAC", :property => "og:title"}/
    %meta{:content => "Reverse Lane Defense with Rock-Paper-Scissors creeps", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "https://datenshizero.github.io/wdfac", :property => "og:url"}/
    %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:rel => "stylesheet", :href => stylesheet_path('app') } 

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"}
            %span.full-brand Wave Defense of Font Awesome Creeps
            %span.abbr-brand WDFAC
            \- RPS

    .container.main-container
      .row#game-board
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          %table.table.table-bordered
            %tr
              %td#l12 
                %span.fa-stack.fa-lg
                  %i#l12-b.fa.fa-sun-o.fa-stack-2x
                  %i#l12-f.fa.fa-stack-1x
              %td#l13
                %span.fa-stack.fa-lg
                  %i#l13-b.fa.fa-sun-o.fa-stack-2x
                  %i#l13-f.fa.fa-stack-1x
              %td#l14
                %span.fa-stack.fa-lg
                  %i#l14-b.fa.fa-sun-o.fa-stack-2x
                  %i#l14-f.fa.fa-stack-1x
              %td#l15
                %span.fa-stack.fa-lg
                  %i#l15-b.fa.fa-ban.fa-stack-2x
                  %i#l15-f.fa.fa-stack-1x
              %td#b2
                %span.fa-stack.fa-lg
                  %i#b2-b.fa.fa-building-o.fa-2x.fa-stack-2x
              %td#r15
                %span.fa-stack.fa-lg
                  %i#r15-b.fa.fa-ban.fa-stack-2x
                  %i#r15-f.fa.fa-stack-1x
              %td#r14
                %span.fa-stack.fa-lg
                  %i#r14-b.fa.fa-sun-o.fa-stack-2x
                  %i#r14-f.fa.fa-stack-1x
              %td#r13
                %span.fa-stack.fa-lg
                  %i#r13-b.fa.fa-sun-o.fa-stack-2x
                  %i#r13-f.fa.fa-stack-1x
              %td#r12
                %span.fa-stack.fa-lg
                  %i#r12-b.fa.fa-sun-o.fa-stack-2x
                  %i#r12-f.fa.fa-stack-1x
            %tr
              %td#l11
                %span.fa-stack.fa-lg
                  %i#l11-b.fa.fa-sun-o.fa-stack-2x
                  %i#l11-f.fa.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 2}
                %h3 
                  Score: 
                  %span#game-score 0
                %h3 
                  Turn: 
                  %span#turn 0
              %td#m7
                %span.fa-stack.fa-lg
                  %i#m7-b.fa.fa-ban.fa-stack-2x
                  %i#m7-f.fa.fa-stack-1x
              %td.enemy-health{colspan: 3, rowspan: 2}
                %h3
                  %span#p2base-health 0
                  %i.fa.fa-building-o.fa-lg
                %h3
                  %span#p2shield1-health 0
                  %i.fa.fa-shield
                  %span#p2shield2-health 0
                  %i.fa.fa-shield
                  %span#p2shield3-health 0
                  %i.fa.fa-shield
              %td#r11
                %span.fa-stack.fa-lg
                  %i#r11-b.fa.fa-sun-o.fa-stack-2x
                  %i#r11-f.fa.fa-stack-1x
            %tr
              %td#l10
                %span.fa-stack.fa-lg
                  %i#l10-b.fa.fa-shield.fa-stack-2x
                  %i#l10-f.fa.fa-stack-1x
              %td#m6
                %span.fa-stack.fa-lg
                  %i#m6-b.fa.fa-shield.fa-stack-2x
                  %i#m6-f.fa.fa-stack-1x
              %td#r10
                %span.fa-stack.fa-lg
                  %i#r10-b.fa.fa-shield.fa-stack-2x
                  %i#r10-f.fa.fa-stack-1x
            %tr
              %td#l9
                %span.fa-stack.fa-lg
                  %i#l9-b.fa.fa-sun-o.fa-stack-2x
                  %i#l9-f.fa.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 3}
                %p#player-base
                %p#player-shields
                  %p#player-result.end-result
              %td#m5
                %span.fa-stack.fa-lg
                  %i#m5-b.fa.fa-sun-o.fa-stack-2x
                  %i#m5-f.fa.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 3}
                %p#enemy-base
                %p#enemy-shields
                %p#enemy-result.end-result
              %td#r9
                %span.fa-stack.fa-lg
                  %i#r9-b.fa.fa-sun-o.fa-stack-2x
                  %i#r9-f.fa.fa-stack-1x
            %tr
              %td#l8
                %span.fa-stack.fa-lg
                  %i#l8-b.fa.fa-sun-o.fa-stack-2x
                  %i#l8-f.fa.fa-stack-1x
              %td#m4
                %span.fa-stack.fa-lg
                  %i#m4-b.fa.fa-sun-o.fa-stack-2x
                  %i#m4-f.fa.fa-stack-1x
              %td#r8
                %span.fa-stack.fa-lg
                  %i#r8-b.fa.fa-sun-o.fa-stack-2x
                  %i#r8-f.fa.fa-stack-1x
            %tr
              %td#l7
                %span.fa-stack.fa-lg
                  %i#l7-b.fa.fa-sun-o.fa-stack-2x
                  %i#l7-f.fa.fa-stack-1x
              %td#m3
                %span.fa-stack.fa-lg
                  %i#m3-b.fa.fa-sun-o.fa-stack-2x
                  %i#m3-f.fa.fa-stack-1x
              %td#r7
                %span.fa-stack.fa-lg
                  %i#r7-b.fa.fa-sun-o.fa-stack-2x
                  %i#r7-f.fa.fa-stack-1x
            %tr
              %td#l6
                %span.fa-stack.fa-lg
                  %i#l6-b.fa.fa-shield.fa-stack-2x
                  %i#l6-f.fa.fa-stack-1x
              %td.player-health{colspan: 3, rowspan: 2}
                %h3
                  %span#p1shield1-health 0
                  %i.fa.fa-shield
                  %span#p1shield2-health 0
                  %i.fa.fa-shield
                  %span#p1shield3-health 0
                  %i.fa.fa-shield
                %h3
                  %span#p1base-health 0
                  %i.fa.fa-building-o.fa-lg
              %td#m2
                %span.fa-stack.fa-lg
                  %i#m2-b.fa.fa-shield.fa-stack-2x
                  %i#m2-f.fa.fa-stack-1x
              %td.score-space.best-scores{colspan: 3, rowspan: 2}
                %h4
                  Best Score:
                  %span#high-score 0
                %h4
                  Fastest:
                  %span#top-speed 0
                  Turns
                %p#game-mode
                  (Medium/Medium/Medium)
              %td#r6
                %span.fa-stack.fa-lg
                  %i#r6-b.fa.fa-shield.fa-stack-2x
                  %i#r6-f.fa.fa-stack-1x
            %tr
              %td#l5
                %span.fa-stack.fa-lg
                  %i#l5-b.fa.fa-sun-o.fa-stack-2x
                  %i#l5-f.fa.fa-stack-1x
              %td#m1
                %span.fa-stack.fa-lg
                  %i#m1-b.fa.fa-ban.fa-stack-2x
                  %i#m1-f.fa.fa-stack-1x
              %td#r5
                %span.fa-stack.fa-lg
                  %i#r5-b.fa.fa-sun-o.fa-stack-2x
                  %i#r5-f.fa.fa-stack-1x
            %tr
              %td#l4
                %span.fa-stack.fa-lg
                  %i#l4-b.fa.fa-sun-o.fa-stack-2x
                  %i#l4-f.fa.fa-stack-1x
              %td#l3
                %span.fa-stack.fa-lg
                  %i#l3-b.fa.fa-sun-o.fa-stack-2x
                  %i#l3-f.fa.fa-stack-1x
              %td#l2
                %span.fa-stack.fa-lg
                  %i#l2-b.fa.fa-sun-o.fa-stack-2x
                  %i#l2-f.fa.fa-stack-1x
              %td#l1
                %span.fa-stack.fa-lg
                  %i#l1-b.fa.fa-ban.fa-stack-2x
                  %i#l1-f.fa.fa-stack-1x
              %td#b1
                %span.fa-stack.fa-lg
                  %i#b1-b.fa.fa-building-o.fa-stack-2x.pl
              %td#r1
                %span.fa-stack.fa-lg
                  %i#r1-b.fa.fa-ban.fa-stack-2x
                  %i#r1-f.fa.fa-stack-1x
              %td#r2
                %span.fa-stack.fa-lg
                  %i#r2-b.fa.fa-sun-o.fa-stack-2x
                  %i#r2-f.fa.fa-stack-1x
              %td#r3
                %span.fa-stack.fa-lg
                  %i#r3-b.fa.fa-sun-o.fa-stack-2x
                  %i#r3-f.fa.fa-stack-1x
              %td#r4
                %span.fa-stack.fa-lg
                  %i#r4-b.fa.fa-sun-o.fa-stack-2x
                  %i#r4-f.fa.fa-stack-1x
         
          .controls
            %button.btn.btn-default.btn-lg#options
              %i.fa.fa-gears.fa-lg
            &nbsp;
            &nbsp;
            .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
              %label.btn.btn-default
                %input{type: "radio", name: "move-mid", id: "mid-rock", value: "rock"}
                  %i.fa.fa-thumbs-up.fa-rotate-270.fa-lg
              %label.btn.btn-default.active
                %input{type: "radio", name: "move-mid", id: "mid-paper", value: "paper"}
                  %i.fa.fa-file.fa-lg
              %label.btn.btn-default
                %input{type: "radio", name: "move-mid", id: "mid-scissors", value: "scissors"}
                  %i.fa.fa-scissors.fa-rotate-270.fa-lg
            &nbsp;
            &nbsp;
            %button#pause.btn.btn-default.btn-lg
              %i.fa.fa-pause.fa-lg

          .controls
            .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
              %label.btn.btn-default
                %input{type: "radio", name: "move-left", id: "left-rock", value: "rock"}
                  %i.fa.fa-thumbs-up.fa-flip-horizontal.fa-lg
              %label.btn.btn-default.active
                %input{type: "radio", name: "move-left", id: "left-paper", value: "paper"}
                  %i.fa.fa-file.fa-lg
              %label.btn.btn-default
                %input{type: "radio", name: "move-left", id: "left-scissors", value: "scissors"}
                  %i.fa.fa-scissors.fa-flip-horizontal.fa-lg
            &nbsp;
            &nbsp;
            .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
              %label.btn.btn-default
                %input{type: "radio", name: "move-right", id: "right-rock", value: "rock"}
                  %i.fa.fa-thumbs-up.fa-lg
              %label.btn.btn-default.active
                %input{type: "radio", name: "move-right", id: "right-paper", value: "paper"}
                  %i.fa.fa-file.fa-lg
              %label.btn.btn-default
                %input{type: "radio", name: "move-right", id: "right-scissors", value: "scissors"}
                  %i.fa.fa-scissors.fa-lg
          %hr
          .rules
            %h3 Rules
            %p
              Select the correct creeps to spawn on your turn and overwhelm your opponent.
            %p
              Paper defeats Rock. Scissors defeat Paper. Rock defeats Scissors.
            %p
              Click the play button to start the game.


      .row#game-options
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          %h2 New Game Options
          %h3 Difficulty
          .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
            %label.btn.btn-default
              %input{type: "radio", name: "difficulty", id: "dif-easy"} Easy
            %label.btn.btn-default.active
              %input{type: "radio", name: "difficulty", id: "dif-medium"} Medium
            %label.btn.btn-default
              %input{type: "radio", name: "difficulty", id: "dif-hard"} Hard
          %p
            the enemy changes their creeps more often at harder difficulty
          %h3 Speed
          .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
            %label.btn.btn-default
              %input{type: "radio", name: "speed", id: "spd-slow"} Slow
            %label.btn.btn-default.active
              %input{type: "radio", name: "speed", id: "spd-medium"} Medium
            %label.btn.btn-default
              %input{type: "radio", name: "speed", id: "spd-fast"} Fast
          %p
            how fast the creeps move and are spawned
          %h3 Durability
          .btn-group.btn-group-lg{ "data-toggle" => "buttons" }
            %label.btn.btn-default
              %input{type: "radio", name: "durability", id: "dur-high"} High
            %label.btn.btn-default.active
              %input{type: "radio", name: "durability", id: "dur-medium"} Medium
            %label.btn.btn-default
              %input{type: "radio", name: "durability", id: "dur-low"} Low
          %p
            the amount of hits required to destroy shields and bases

          %p
            %a#show-advanced{ href: "#" } Click to show advanced settings

          #advanced
            %h3 Wallpaper Mode
            %form.form-inline
              .checkbox
                %label
                  %input#wallpaper{ type: "checkbox" }
                    Make the computer play against itself

            %h3 Keyboard Shortcuts

            %select#keyboard.form-control
              %option{ value: "default" } Default (Left: sdf, Mid: tyu, Right: jkl, Pause: space, Options: esc) 
              %option{ value: "oneline" } Single Line (Left: asd, Mid: fgh, Right: jkl, Pause: space, Options: esc)
              %option{ value: "numpad" } Numpad (Left: 741, Mid: 852, Right: 963, Pause: enter, Options: 0)

              %option{ value: "lefthand" } Left Hand (Left: qaz, Mid: wsx, Right: edc, Pause: space, Options: esc)
 
          %p#start-group
            %button.btn.btn-default.btn-lg#cancel-new-game{ type: "button" } Cancel
            %button.btn.btn-default.btn-primary.btn-lg#start-game{ type: "button" } Start Game

      .row
        .col-lg-12
          .footer
            %p.copyright
              Copyright &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com/">Bootstrap</a>, 
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> and a bunch of JS libraries.
            %p <a href="https://github.com/datenshiZERO/wdfac">Fork this on Github</a>
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"}
    %script{:type => "text/javascript", :src => javascript_path("app")}
