!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
    %title WDFAC
    %meta{:content => "A portfolio website of a software engineer", :name => "description"}/
    %meta{:content => "Bryan Bibat | Robot Zombie Software Developer", :property => "og:title"}/
    %meta{:content => "A portfolio website of a software engineer", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://bryanbibat.net/", :property => "og:url"}/
    :css
      td { 
        background: #d18b47;
        text-align: center;
      }
      td.score-space {
        background: white;
      }

      .fa-square-o {
        color: #d18b47;
      }
      .fa-shield, .fa-ban {
        color: gray;
      }
      .pl {
        color: white;
      }
      p.controls {
        text-align: center;
      }
    // %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Wave Defense of Font Awesome Creeps

    .container.main-container
      .row
        .col-lg-6.col-lg-offset-3
          %table.table.table-bordered
            %tr
              %td 
                %span.fa-stack.fa-lg
                  %i#l12-b.fa.fa-square-o.fa-stack-2x
                  %i#l12-f.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#l13-b.fa-square-o.fa-stack-2x
                  %i#l13-f.fa.fa-file.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#l14-b.fa.fa-square-o.fa-stack-2x
                  %i#l14-f.fa.fa-thumbs-down.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#l15-b.fa.fa-ban.fa-stack-2x
                  %i#l15-f.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#b2-b.fa.fa-building-o.fa-2x.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i#r15-b.fa.fa-ban.fa-stack-2x
                  %i#r15-f.fa.fa-thumbs-down.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r14-b.fa.fa-square-o.fa-stack-2x
                  %i#r14-f.fa.fa-scissors.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r13-b.fa.fa-square-o.fa-stack-2x
                  %i#r13-f.fa.fa-file.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r12-b.fa.fa-square-o.fa-stack-2x
                  %i#r12-f.fa.fa-thumbs-down.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l11-b.fa.fa-square-o.fa-stack-2x
                  %i#l11-f.fa.fa-thumbs-up.fa-rotate-90.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 7}
              %td
                %span.fa-stack.fa-lg
                  %i#m7-b.fa.fa-ban.fa-stack-2x
                  %i#m7-f.fa.fa-file.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 7}
              %td
                %span.fa-stack.fa-lg
                  %i#r11-b.fa.fa-square-o.fa-stack-2x
                  %i#r11-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l10-b.fa.fa-shield.fa-stack-2x
                  %i#l10-f.fa.fa-file.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#m6-b.fa.fa-shield.fa-stack-2x
                  %i#m6-f.fa.fa-thumbs-up.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r10-b.fa.fa-shield.fa-stack-2x
                  %i#r10-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l9-b.fa.fa-square-o.fa-stack-2x
                  %i#l9-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#m5-b.fa.fa-square-o.fa-stack-2x
                  %i#m5-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r9-b.fa.fa-square-o.fa-stack-2x
                  %i#r9-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l8-b.fa.fa-square-o.fa-stack-2x
                  %i#l8-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#m4-b.fa.fa-square-o.fa-stack-2x
                  %i#m4-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r8-b.fa.fa-square-o.fa-stack-2x
                  %i#r8-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l7-b.fa.fa-square-o.fa-stack-2x
                  %i#l7-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#m3-b.fa.fa-square-o.fa-stack-2x
                  %i#m3-f.fa.fa-cut.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i#r7-b.fa.fa-square-o.fa-stack-2x
                  %i#r7-f.fa.fa-file.fa-stack-1x.pl
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l6-b.fa.fa-shield.fa-stack-2x
                  %i#l6-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#m2-b.fa.fa-shield.fa-stack-2x
                  %i#m2-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r6-b.fa.fa-shield.fa-stack-2x
                  %i#r6-f.fa.fa-file.fa-stack-1x.pl
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l5-b.fa.fa-square-o.fa-stack-2x
                  %i#l5-f.fa.fa-thumbs-down.fa-rotate-270.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#m1-b.fa.fa-ban.fa-stack-2x
                  %i#m1-f.fa.fa-scissors.fa-rotate-270.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r5-b.fa.fa-square-o.fa-stack-2x
                  %i#r5-f.fa.fa-thumbs-up.fa-rotate-270.fa-stack-1x.pl
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i#l4-b.fa.fa-square-o.fa-stack-2x
                  %i#l4-f.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#l3-b.fa.fa-square-o.fa-stack-2x
                  %i#l3-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#l2-b.fa.fa-square-o.fa-stack-2x
                  %i#l2-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#l1-b.fa.fa-ban.fa-stack-2x
                  %i#l1-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#b1-b.fa.fa-building-o.fa-stack-2x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r1-b.fa.fa-ban.fa-stack-2x
                  %i#r1-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r2-b.fa.fa-square-o.fa-stack-2x
                  %i#r2-f.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r3-b.fa.fa-square-o.fa-stack-2x
                  %i#r3-f.fa.fa-scissors.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i#r4-b.fa.fa-square-o.fa-stack-2x
                  %i#r4-f.fa.fa-scissors.fa-stack-1x.pl
         
          %p.controls
            %button.btn.btn-default.btn-lg
              %i.fa.fa-gears.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-thumbs-up.fa-rotate-270.fa-lg.pl
            %button.btn.btn-default.btn-lg
              %i.fa.fa-file.fa-lg
            %button.btn.btn-default.btn-lg
              %i.fa.fa-scissors.fa-rotate-270.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg
              %i.fa.fa-pause.fa-lg
          %p.controls
            %button.btn.btn-default.btn-lg
              %i.fa.fa-thumbs-up.fa-flip-horizontal.fa-lg
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-file.fa-lg.pl
            %button.btn.btn-default.btn-lg
              %i.fa.fa-scissors.fa-flip-horizontal.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg
              %i.fa.fa-thumbs-up.fa-lg
            %button.btn.btn-default.btn-lg
              %i.fa.fa-file.fa-lg
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-scissors.fa-lg.pl

      .row
        .col-lg-12-
          .footer
            %p.copyright
              Copyright &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com/">Bootstrap</a> and
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. All brand icons are trademarks of their respective owners.
            %p <a href="https://github.com/bryanbibat/homepage">Fork this on Github</a>
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}\
    :javascript
      var Game = {
        initialize: function() {
          this.lanes = { 
            player1: { top: [], mid: [], bot: [] },
            player2: { top: [], mid: [], bot: [] }
          };
          this.barracks = { 
            player1: { top: "paper", mid: "paper", bot: "paper" },
            player2: { top: "paper", mid: "paper", bot: "paper" }
          };
          this.health = { 
            player1: { top: 20, mid: 30, bot: 30, base: 40 },
            player2: { top: 20, mid: 30, bot: 20, base: 40 }
          };
          this.ticks = 0;
          this.started = true;
          this.ended = false;
          this.paused = false;
          this.spriteClasses = {
            // classes for squares where player 1 (white) is going right ie R1-R4
            // does not include player 1's pl class
            right: {
              rock: {
                player1: "fa-thumbs-up",
                player2: "fa-thumbs-up fa-flip-horizontal"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut",
                player2: "fa-cut fa-flip-horizontal"
              },
              clear: "fa-thumbs-up fa-flip-horizontal fa-file fa-cut pl"
            },
            // classes for squares where player 1 is going left ie L1-L4 
            left: {
              rock: {
                player1: "fa-thumbs-up fa-flip-horizontal",
                player2: "fa-thumbs-up"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut fa-flip-horizontal",
                player2: "fa-cut"
              },
              clear: "fa-thumbs-up fa-flip-horizontal fa-file fa-cut pl"
            },
            // classes for squares where player 1 is going right at the top ie L12-L15 
            rightTop: {
              rock: {
                player1: "fa-thumbs-down",
                player2: "fa-thumbs-down fa-flip-horizontal"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut",
                player2: "fa-cut fa-flip-horizontal"
              },
              clear: "fa-thumbs-down fa-flip-horizontal fa-file fa-cut pl"
            },
            // classes for squares where player 1 is going left at the top ie R12-R15 
            leftTop: {
              rock: {
                player1: "fa-thumbs-down fa-flip-horizontal",
                player2: "fa-thumbs-down"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut fa-flip-horizontal",
                player2: "fa-cut"
              },
              clear: "fa-thumbs-down fa-flip-horizontal fa-file fa-cut pl"
            },
            // classes for left lane ie L5-L11
            leftLane: {
              rock: {
                player1: "fa-thumbs-down fa-rotate-270",
                player2: "fa-thumbs-up fa-rotate-90"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut fa-rotate-270",
                player2: "fa-cut fa-rotate-90"
              },
              clear: "fa-thumbs-up fa-thumbs-down fa-rotate-270 fa-rotate-90 fa-file fa-cut pl"
            },
            // classes for left lane ie L5-L11
            midLane: {
              rock: {
                player1: "fa-thumbs-up fa-rotate-270",
                player2: "fa-thumbs-up fa-rotate-90"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut fa-rotate-270",
                player2: "fa-cut fa-rotate-90"
              },
              clear: "fa-thumbs-up fa-rotate-270 fa-rotate-90 fa-file fa-cut pl"
            },
            // classes for left lane ie L5-L11
            rightLane: {
              rock: {
                player1: "fa-thumbs-up fa-rotate-270",
                player2: "fa-thumbs-down fa-rotate-90"
              },
              paper: {
                player1: "fa-file",
                player2: "fa-file"
              },
              scissors: {
                player1: "fa-cut fa-rotate-270",
                player2: "fa-cut fa-rotate-90"
              },
              clear: "fa-thumbs-up fa-thumbs-down fa-rotate-270 fa-rotate-90 fa-file fa-cut pl"
            }
          }
        },
        moveCreeps: function() {
          var player = "player" + (this.ticks % 2 + 1);
          var lanes = ["top", "mid", "bot"];
          for (var i = 0; i < 3; i++) {
            var l = lanes[i];
            for (var j = 0; j < this.lanes[player][l].length; j++) {
              var creep = this.lanes[player][l][j];
              creep.loc += (player === "player1" ? 1 : -1);
            }
          }
        },
        spawnCreeps: function() {
          var player = "player" + (this.ticks % 2 + 1);
          var lanes = ["top", "mid", "bot"];
          //debug
          var nextVal = { rock: "paper", paper: "scissors", scissors: "rock" }
          for (var i = 0; i < 3; i++) {
            var l = lanes[i];
            this.lanes[player][l].push({ 
              value: this.barracks[player][l],
              loc: (player === "player1" ? 1 : (l == "mid" ? 7 : 15))
            });
            this.barracks[player][l] = nextVal[this.barracks[player][l]];
          }
        },
        resolveCreepBattles: function() {
        },
        update: function() {
          if (this.paused === true || this.ended === true || this.started === false) return;
          this.moveCreeps();
          this.spawnCreeps();
          this.resolveCreepBattles();
        },
        clearSprites: function() {
          // var start = new Date();
          for (var i = 1; i <= 15; i++) {
            $("#l" + i + "-f").hide();
            $("#m" + i + "-f").hide();
            $("#r" + i + "-f").hide();
          }
          // var end = new Date();
          // console.log("Operation took " + (end.getTime() - start.getTime()) + " msec");
        },
        drawSprites: function() {
          var topLane1 = this.lanes["player1"]["top"];
          for (var i = 0; i < topLane1.length; i++) {
            var creep = topLane1[i];
            var iid = "#l" + creep.loc + "-f";
            var direction = "";
            if (creep.loc < 5) {
              direction = "left";
            }  else if (creep.loc < 12) {
              direction = "leftLane";
            } else if (creep.loc < 15) {
              direction = "rightTop";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player1"] + " pl");
              $(iid).show();
            }
          }
          var topLane2 = this.lanes["player2"]["top"];
          for (var i = 0; i < topLane2.length; i++) {
            var creep = topLane2[i];
            var iid = "#l" + creep.loc + "-f";
            var direction = "";
            if (creep.loc > 11) {
              direction = "rightTop";
            }  else if (creep.loc > 4) {
              direction = "leftLane";
            } else if (creep.loc > 1) {
              direction = "left";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player2"]);
              $(iid).show();
            }
          }
          var midLane1 = this.lanes["player1"]["mid"];
          for (var i = 0; i < midLane1.length; i++) {
            var creep = midLane1[i];
            var iid = "#m" + creep.loc + "-f";
            var direction = "";
            if (creep.loc < 7) {
              direction = "midLane";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player1"] + " pl");
              $(iid).show();
            }
          }
          var midLane2 = this.lanes["player2"]["mid"];
          for (var i = 0; i < midLane2.length; i++) {
            var creep = midLane2[i];
            var iid = "#m" + creep.loc + "-f";
            var direction = "";
            if (creep.loc > 1) {
              direction = "midLane";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player2"]);
              $(iid).show();
            }
          }
          var botLane1 = this.lanes["player1"]["bot"];
          for (var i = 0; i < botLane1.length; i++) {
            var creep = botLane1[i];
            var iid = "#r" + creep.loc + "-f";
            var direction = "";
            if (creep.loc < 5) {
              direction = "right";
            }  else if (creep.loc < 12) {
              direction = "rightLane";
            } else if (creep.loc < 15) {
              direction = "leftTop";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player1"] + " pl");
              $(iid).show();
            }
          }
          var botLane2 = this.lanes["player2"]["bot"];
          for (var i = 0; i < botLane2.length; i++) {
            var creep = botLane2[i];
            var iid = "#r" + creep.loc + "-f";
            var direction = "";
            if (creep.loc > 11) {
              direction = "leftTop";
            }  else if (creep.loc > 4) {
              direction = "rightLane";
            } else if (creep.loc > 1) {
              direction = "right";
            }
            if (direction != "") {
              $(iid).removeClass(this.spriteClasses[direction]["clear"]);
              $(iid).addClass(this.spriteClasses[direction][creep.value]["player2"]);
              $(iid).show();
            }
          }
        },
        updateScoreDisplay: function() {
        },
        draw: function() {
          if (this.paused === true || this.ended === true || this.started === false) return;
          this.clearSprites();
          this.drawSprites();
          this.updateScoreDisplay();
        }
      }
      Game.initialize();
      
      setInterval(function() {
        Game.update();
        Game.draw();
      }, 1000);

