!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
    %title WDFAC
    %meta{:content => "A portfolio website of a software engineer", :name => "description"}/
    %meta{:content => "Bryan Bibat | Robot Zombie Software Developer", :property => "og:title"}/
    %meta{:content => "A portfolio website of a software engineer", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://bryanbibat.net/", :property => "og:url"}/
    // %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} WDFAC

    .container.main-container
      .row
        .col-md-12
          %table.table.table-bordered
            %tr
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td
              %td




          .footer
            %p.copyright
              Copyright &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com/">Bootstrap</a> and
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. All brand icons are trademarks of their respective owners.
            %p <a href="https://github.com/bryanbibat/homepage">Fork this on Github</a>
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}\
    :javascript
