!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel=>"stylesheet"}
    %title WDFAC
    %meta{:content => "A portfolio website of a software engineer", :name => "description"}/
    %meta{:content => "Bryan Bibat | Robot Zombie Software Developer", :property => "og:title"}/
    %meta{:content => "A portfolio website of a software engineer", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://bryanbibat.net/", :property => "og:url"}/
    :css
      td { 
        background: #d18b47;
        text-align: center;
      }
      td.score-space {
        background: white;
      }

      .fa-square-o {
        color: #d18b47;
      }
      .fa-shield, .fa-ban {
        color: gray;
      }
      .pl {
        color: white;
      }
      p.controls {
        text-align: center;
      }
    // %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "#"} Wave Defense of Font Awesome Creeps

    .container.main-container
      .row
        .col-lg-6.col-lg-offset-3
          %table.table.table-bordered
            %tr
              %td 
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa-square-o.fa-stack-2x
                  %i.fa.fa-file.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-thumbs-down.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
                  %i.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-building-o.fa-2x.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
                  %i.fa.fa-thumbs-down.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-scissors.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-file.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-thumbs-down.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-thumbs-up.fa-rotate-90.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 7}
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
                  %i.fa.fa-file.fa-stack-1x
              %td.score-space{colspan: 3, rowspan: 7}
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
                  %i.fa.fa-file.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
                  %i.fa.fa-thumbs-up.fa-rotate-90.fa-stack-1x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
                  %i.fa.fa-cut.fa-rotate-90.fa-stack-1x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-file.fa-stack-1x.pl
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-shield.fa-stack-2x
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-thumbs-down.fa-rotate-270.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
                  %i.fa.fa-scissors.fa-rotate-270.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-thumbs-up.fa-rotate-270.fa-stack-1x.pl
            %tr
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-scissors.fa-flip-horizontal.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-file.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-building-o.fa-stack-2x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-ban.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-scissors.fa-stack-1x.pl
              %td
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
         
          %p.controls
            %button.btn.btn-default.btn-lg
              %i.fa.fa-gears.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-thumbs-up.fa-rotate-270.fa-lg.pl
            %button.btn.btn-default.btn-lg
              %i.fa.fa-file.fa-lg
            %button.btn.btn-default.btn-lg
              %i.fa.fa-scissors.fa-rotate-270.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg
              %i.fa.fa-pause.fa-lg
          %p.controls
            %button.btn.btn-default.btn-lg
              %i.fa.fa-thumbs-up.fa-flip-horizontal.fa-lg
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-file.fa-lg.pl
            %button.btn.btn-default.btn-lg
              %i.fa.fa-scissors.fa-flip-horizontal.fa-lg
            &nbsp;
            &nbsp;
            %button.btn.btn-default.btn-lg
              %i.fa.fa-thumbs-up.fa-lg
            %button.btn.btn-default.btn-lg
              %i.fa.fa-file.fa-lg
            %button.btn.btn-default.btn-lg.btn-primary
              %i.fa.fa-scissors.fa-lg.pl

      .row
        .col-lg-12-
          .footer
            %p.copyright
              Copyright &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com/">Bootstrap</a> and
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. All brand icons are trademarks of their respective owners.
            %p <a href="https://github.com/bryanbibat/homepage">Fork this on Github</a>
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"}\
    :javascript
      var Game = {
        initialize: function() {
          this.lanes = { 
            player1: { top: [], mid: [], bot: [] },
            player2: { top: [], mid: [], bot: [] }
          };
          this.barracks = { 
            player1: { top: "paper", mid: "paper", bot: "paper" },
            player2: { top: "paper", mid: "paper", bot: "paper" }
          };
          this.health = { 
            player1: { top: 20, mid: 30, bot: 30, base: 40 },
            player2: { top: 20, mid: 30, bot: 20, base: 40 }
          };
          this.ticks = 0;
          this.started = true;
          this.ended = false;
          this.paused = false;
        },
        spawnCreeps: function() {
        },
        moveCreeps: function() {
        },
        resolveCreepBattles: function() {
        },
        update: function() {
          if (this.paused === true || this.ended === true || this.started === false) return;
          this.spawnCreeps();
          this.moveCreeps();
          this.resolveCreepBattles();
        },
        draw: function() {
          if (this.paused === true || this.ended === true || this.started === false) return;
          this.clearSprites();
          this.drawSprites();
          this.updateScoreDisplay();
        }
      }

